body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half {
    width: 50%;
    padding-left: 5%;
}

.half img {
    width: 80%
}

.linked {
    text-decoration: none;
    background-image: linear-gradient (orange, tomato);
    color: orangered;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}

.top {
    background-image: url(images/Top_Banner2.jpg);
    background-size: no-repeat;
}